@import "_reset.scss";

* {
  box-sizing: border-box;
}

.all-content {
  margin: 0 130px;
}

.status-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 28px 0;

  font-size: 14px;
  color: #1c1c1c;
  z-index: 1000;

  & > div > span {
    margin-right: 100px;
  }

  & > div > span:first-child {
    padding-left: 130px;
  }
  & > div:last-child {
    padding-right: 130px;
  }
}

.main-img {
  margin-top: 150px;
  margin-bottom: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  .img {
    text-align: center;

    & > img {
      width: 100%;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: 160px;
    color: white;

    & > span {
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 2px;
      margin-bottom: 40px;
    }

    & > div {
      font-size: 38px;
      font-weight: 300;

      letter-spacing: 2px;

      width: 40vw;
      text-align: center;

      margin-bottom: 40px;
    }

    & > button {
      color: white;
      border: 1px solid white;
      background-color: inherit;
      padding: 20px 75px;

      font-size: 10px;
    }

    & > button:hover {
      background-color: white;
      color: #8d8d8d;
    }
  }
}

.bag-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 75vh;
  margin-bottom: 100px;

  .img img {
    width: 100%;
    height: 75vh;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #faf7f6;

    & > button {
      border: 1px solid black;
      background-color: inherit;
      padding: 20px 75px;

      font-size: 10px;
    }

    & > button:hover {
      background-color: #414141;
      color: white;
    }

    & > div {
      font-size: 34px;
      font-weight: 300;
      line-height: 38px;

      text-align: center;
      margin-bottom: 50px;

      width: 73%;
    }
  }
}

.nail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-bottom: 100px;
}

.nail img {
  width: 100%;
  height: 100%;
}

.nail .first-content,
.nail .second-content,
.nail .third-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #f3ede8;
}

.nail .first-content > span:first-child,
.nail .second-content > span:first-child,
.nail .third-content > span:first-child {
  font-size: 14px;
  font-weight: 300;

  margin: 70px 0;
}

.nail .first-content > div,
.nail .second-content > div,
.nail .third-content > div {
  font-size: 30px;
  font-weight: 300;
  width: 70%;
  text-align: center;

  margin-bottom: 70px;
}

.nail .first-content > span:last-child,
.nail .second-content > span:last-child,
.nail .third-content > span:last-child {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 2px;
}

.imgs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);

  margin-bottom: 100px;
}

.imgs img {
  width: 100%;
  height: 100%;
}

.imgs img:hover {
  opacity: 0.4;
}

.bottom {
  background-color: #f3ede8;

  display: flex;
  justify-content: center;

  text-transform: uppercase;
  text-align: center;

  padding: 80px 0;

  font-weight: 300;
}

.bottom-title {
  font-size: 12px;
}

.bottom-content {
  display: flex;
  flex-direction: column;

  margin-top: 30px;
  color: black;
  font-size: 12px;
  letter-spacing: 2px;

  & > span {
    margin-bottom: 10px;
  }
}

.bottom .center {
  border-right: 1px solid;
  border-left: 1px solid;

  padding: 0 150px;
}

.bottom .left {
  padding-right: 150px;
}

.bottom .right {
  padding-left: 150px;
}
